
<div class="container">
    <h1 class="form-heading">login Form</h1>
    <div class="login-form">
        <div class="main-div">
            <div >
                <h2>WhiteHat Login</h2>
                <p></p>
            </div>
            <div id="Login">
                <div class="form-group">
                    <input type="text" [(ngModel)]="user.user_name" class="form-control" id="inputUsername" placeholder="Username">
                </div>
                <div class="form-group">
                    <input type="password" [(ngModel)]="user.password" class="form-control" id="inputPassword" placeholder="Password">
                </div>
                <div class="forgot">
                    <a [routerLink]="['/register']">Already a member? Sign in</a>
                </div>
                <button type="button" (click) ="doLogin()" class="btn btn-primary">Login</button>
            </div>
        </div>
        <p class="botto-text">xDesigned by Nitin Bodhane</p>
    </div>
</div>
<!-- <div class="login-page">
        <div class="row justify-content-md-center">
            <div class="col-md-4">
                <img class="user-avatar" src="assets/images/logo.png" width="150px" />
                <h1>White Hat</h1>
                <div class="form-content">
                    <div class="form-group">
                        <input [(ngModel)]="user.user_name" placeholder="Username"/>
                    </div>
                    <div class="form-group">
                        <input [(ngModel)]="user.password" type="password" placeholder="Password"/>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <button (click) ="doLogin()" >Login</button>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <button [routerLink]="['/register']">Register</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div> -->