<div class="login-page">
        <div class="row justify-content-md-center">
            <div class="col-md-4">
                <!-- <img class="user-avatar" src="assets/images/logo.png" width="150px" /> -->
                <h1>White Hat</h1>
                <div class="form-content">
                    <div class="form-group">
                        <input [(ngModel)]="user.user_name" placeholder="Username"/>
                    </div>
                    <div class="form-group">
                        <input [(ngModel)]="user.password" type="password" placeholder="Password"/>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <button (click) ="doLogin()" >Login</button>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <button [routerLink]="['/register']">Register</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>