
<div class="container">
    <h1 class="form-heading">login Form</h1>
    <div class="login-form">
        <div class="main-div">
            <div >
                <h2>WhiteHat Login</h2>
                <p></p>
            </div>
            <div id="Login">
                <div class="form-group">
                    <input type="text" [(ngModel)]="user.user_name" class="form-control" id="inputUsername" placeholder="Username">
                </div>
                <div class="form-group">
                    <input type="password" [(ngModel)]="user.password" class="form-control" id="inputPassword" placeholder="Password">
                </div>
                <div class="forgot">
                    <a [routerLink]="['/register']">Already a member? Sign in</a>
                </div>
                <button type="button" (click) ="doLogin()" class="btn btn-primary">Login</button>
            </div>
        </div>
        <p class="botto-text">xDesigned by Nitin Bodhane</p>
    </div>
</div>